body{
    font-size: 12px;
    padding: 20px;
}
/*button{
    background-color: green;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin: 20px 0;
    display: block;
    width:100%;
    border:1px solid #eee;
}*/
.dialog-container{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
.dialog-container .dialog-window{
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
}

.dialog-container .dialog-window .dialog-content{
    color: white;
    text-align: center;
    margin: 0 2px;
}
.dialog-container .dialog-window .dialog-header{
    width: 50px;
    height:50px;
    margin:1px auto;

}
.dialog-container .dialog-window .ok{
    background: url("../img/checked.png") no-repeat 0 0;
    background-size: 50px;
}
.dialog-container .dialog-window .warning{
    background: url("../img/warning.png") no-repeat 0 0;
    background-size: 50px;
}
.dialog-container .dialog-window .cancel{
    background: url("../img/cancel.png") no-repeat 0 0;
    background-size: 50px;
}

.dialog-container .dialog-window .dialog-footer{
    padding:1em 1em 0;
    display:-webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items:center;
}

.dialog-container .dialog-window .dialog-footer button{
    -webkit-appearance:none;
    background-color: rgba(255,255,255,0.8);
    padding: 0.8em 1.8em;
    border:none;
    border-radius: 5px;
    margin:0.3em;
    color: #eee;
    text-shadow: #666 1px 1px 0;
}

.dialog-container .dialog-window .dialog-footer .green{
    background-color: rgba(2,202,200,0.8);
}

.dialog-container .dialog-window .dialog-footer .red{
    background-color: rgba(251,23,50,0.8);
}
